.banner_background{
    width: 100%;
    background-size: cover;
    background-position: center;
}
.banner_background{
    padding: 45px 0px;
}
.hero-banner-image img{
    max-width: 100%;
}
.built-for-shopify-button{
    margin-bottom: 1rem;
}

.header-hero-banner .hero-para{
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}

.header-hero-btn a {
    background-color: #1e1e1e;
    width: 166px;
    height: 48px;
    border-radius: 9px;
    color: #fff;
    display: block;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.built-button-wraper {
    display: inline-flex;
    align-items: center;
    background-color: #e0f0ff;
    padding: 8px 15px;
    border: 1px solid transparent;
    border-radius: 25px;
}
.built-shopify-logo{
    padding-right: 9px;
    display: flex;
    align-items: center;
}
.built-shopify-logo svg{
    width: 1rem;
    height: auto;
}
.built-shopify-text {
    font-size: 13px;
    font-weight: 600;
}
.shopify-official-logo-black{
    border: none !important;
    background-color: none;
    padding: 0;
    border-radius: 0 !important;
    background-color: transparent;
}
.shopify-official-logo-black:hover{
    background-color: transparent !important;
}
.shopify-official-logo-black img{
    max-width: 100%;
}
.main_heading h1{
    font-size: 42px;
    font-weight: 600;
}
.main_heading h1 span{
    color: #3BB6B6;    
}
.main_heading p{
    line-height: 1.6;
}
.app__review--section .start-icons svg{
    margin-right: 3px;
}
.start-icons{
    display: flex;
    align-items: center;
}
.shopify_icon{
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-weight: 600;
}

.app__review--section{
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.btns{
    width: 100%;
    border-radius: 3px;
    border: 1px solid  black;
    color: #000;
   
}
.btns:hover {
    background-color: white;
    border: 1px solid black;
    color: #000;
}
.f_btn{
    background-color: transparent;
}
.banner-span{
    display: block;
}

.span_3{
    font-size: 22px;
}
.span_4{
    font-size: 11px;
}

video{
    border-radius: 5px;
}
.forever{
    margin-top: 1.5px;
}

.forever  button:hover{
    background-color: white;
}

.banner_second_btn{
    min-height: 100%;
    height: 100%;
}

.banner_second_btn a{
    width: 100%;
    height: 100%;
    /* /* min-height: inherit; */
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:991px) {
    .main_heading h1 {
        font-size: 24px;
        line-height: 36px;
        /* text-align: center; */
    }
    .main_heading p {
        font-size: 16px;
        /* text-align: center; */
    }
   
    .span_3{
        font-size: 36px;
    }
    .span_4{
        font-size: 18px;
    }
    .header-hero-content h1{
        font-size: 32px;
    }
        .header-hero-banner .hero-para{
        font-size: 15px;
    }
   
}

@media screen and (min-width:991px) {
    .header-hero-content {
        width: 70%;
        margin: auto;
    }
    .header-hero-banner h1{
        font-size: 45px;
    }
}


@media screen and (min-width:991px) and (max-width:1200px){
    .main_heading h1{
        font-size: 26px;
    }
    .span_3 {
        font-size: 19px;
    }
    .span_4 {
        font-size: 10px;
    }
}

@media screen and (min-width:576px) and (max-width:768px){
  
    .span_3 {
        font-size: 30px;
    }
    .span_4 {
        font-size: 12px;
    }
}


@media screen and (max-width:576px){
    .main_heading p {
        font-size: 14px;
    }   
    .col-x-sm-6{
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .my-x-sm{
        margin:20px 0px;
    }
    .span_4 {
        font-size: 10px;
    }
    .span_3 {
        font-size: 20px;
    }
 
    .banner_background{
        padding: 2px 0px;
        padding-bottom: 30px;
    }
    .banner_left_section{
        padding: 0px 30px !important;
    }
  .header-hero-content .header-hero-btn a{
    font-size: 14px;
    margin-bottom: 1rem;
    width: 150px;
    height: 40px;
  }
    
}

@media screen and (max-width:476px){

    .span_3 {
        font-size: 14px;
    }
    .span_4 {
        font-size: 7px;
    }
}
@media screen and (max-width:374px){
    .span_3 {
        font-size: 11px;
    }
    .span_4 {
        font-size: 6px;
    }
  
}
