.contact-us-page-container{
    padding-top: 2rem;
    padding-bottom:2rem;
}
.form-input-feild{
    background-color:#E5E4E5 ;
    font-size: .9rem;
    width: 100%;
    border-radius: 6px;
    border: 1px solid transparent;
    padding: 15px;
}
.form-input-feild:focus{
    background-color: #fff;
    
}
.contact-form-button{
    width: 100%;
    font-size: 16px !important;

}
.form-control:focus {
    border: 1px solid black;
    box-shadow: none;
}

.contact-us-page-container label{
    margin: 10px 0px;
    font-weight: 500;
}
.contact-us-page-container em{
    font-size: 14px;
    font-weight: 700;
    color: rgb(193, 26, 26);
}

.success-message{
    display: flex;
    justify-content: center;
    align-items: center;
}
.success-message p{
    margin: 0;
    font-size: 0.9rem;
}
.form-input-label{
    font-size: 0.9rem;
}
.green-circle {
    width: 16px;
    height: 16px;
    background-color: green;
    border-radius: 50%;
    margin-right: 0.8rem;
  }
  