.account-heading {
  font-size: 38px;
  font-weight: 600;
}
.account-subheading {
  font-size: 15px;
}
.custom-secton {
  padding: 70px 0px;
}
.classic-account-btn {
  font-weight: 600;
  padding: 14px 26px;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  border: 2px solid #eb4503;
  color: #fff;
  background: #eb4503;
  transition: all 0.3s ease-in-out 0s;
}
.classic-account-btn:hover {
  background: transparent;
  border: 2px solid #eb4503;
  color: #eb4503;
}
/* .premium-account-btn {
  background: #eb4503;
} */
