.home-page-pricing-camp{
    background: linear-gradient(118.98deg, #FFFFFF 0%, #FFF8F8 25.47%, #EAFFFF 50%, #FFF8F8 75%, #FFFFFF 100%);
}


.main-home-pricing-comparison h3{
    font-size: 30px;
}
.main-home-pricing-comparison h4{
    font-size: 13px;
}
.main-home-pricing-comparison ul{
    padding: 0;
    list-style: none;
}
.main-home-pricing-comparison ul li{
    margin: 0px 0px 15px 0px;
    font-size: 15px;
}
.main-home-pricing-comparison .pricing-view-demo{
    display: flex;
    justify-content: center;
}
.pricing-view-demo a{
    width: 166px;
    height: 48px;
}
.main-home-pricing-comparison .new-account{
    background: #1B4B3D;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 20px;
}
.main-home-pricing-comparison .legacy-account{
    background: #1B4B3D33;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
}

@media screen and (max-width:576px) {
    .home-page-pricing-camp{
        display: none;
    }
}