.my-all-tabs {
    padding: 70px 0px;
  }
  
  .tabs_section {
    background: linear-gradient(130deg, #0087C1 0%, #1E235C 100%);
  }
  
  .plugin {
    margin-bottom: 3rem;
  }
  
  .tab-icon img {
    width: 35px;
    height: 35px;
  }
  .tab-icon-content p {
    font-size: 11px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .plugin h2 {
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
  }
  
  .plugin p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
  }
  
  .plugin p span {
    font-weight: 700;
    color: #eb4503;
  }
  
  .active{
    opacity: 1 !important;
  }
  
  .nav__links__ {
    display: block;
    background-color: transparent !important;
    position: relative;
    opacity: 0.6;
    padding: 1.2rem 0rem;
  }
  .all{
    width: 106%;
  }
  .all img{
    width: 95%;
  }
  
  .first_tab {
    position: relative;
  }
  
  .dotted_img {
    position: absolute;
  }
  
  
  .first_tab_contetnt {
    color: white;
    position: absolute;
    display: flex;
    top: 50%;
      transform: translateY(-50%);
  align-items: center;
    justify-content: flex-start;
    left: 20px;
  }
  
  
  .tab-icon {
    border: 1px solid;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding: 24px;
    border: 1px solid #EDA288;
  }
  
  .tab-icon-content {
    padding-left: 10px;
  }
  
  .tab-icon-content h4 {
    margin: 0;
    font-size: 24px;
    color: #EDA288;
  }
  
  .tab-icon-content p {
    font-size: 14px;
    margin-top: 5px;
  }
  
  .flex-end {
    justify-content: center;
    right: -30px;
    top: 50%;
      transform: translateY(-50%);
  }
  
  .last {
    padding-left: 0;
  }
  
  .id-2-blue-img {
    left: 0;
  }
  
  .dotted_img {
    max-width: 100%;
  }
  
  .blue_rounded_img {
    max-width: 100%;
  }
  
  /* dynamic content css */
  
  .tab_dynamic_content {
    position: relative;
  }
  
  .color-picker {
    position: absolute;
    top: 12%;
    right: 15px;
  }
  
  .color-picker {
    width: 70%;
    right: -5%;
  }
  
  .color-list {
    width: 85%;
    margin: auto;
  }
  
  .color-picker img {
    max-width: 100%;
  }
  
  .color-list img {
    max-width: 100%;
  }
  
  .tabs_reuse_section {
    background-image: url("../assets/images/TabsREuse_Section.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hasel__free_image img {
    max-width: 100%;
  }
  .multi__address_capability img {
    max-width: 100%;
  }
  .reva__panal__image img {
    max-width: 100%;
  }
  .show__recently__image img {
    max-width: 100%;
  }
  .multiLanguage__support img {
    max-width: 100%;
  }
  .dynamic__menu_builder img {
    max-width: 100%;
  }
  
  .account_potential {
    margin-top: 2rem !important;
    width: 50%;
    margin: auto;
  }
  .account_potential h2 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 400;
    width: 90%;
    margin: auto;
  }
  .accordian_coming {
    display: block;
  }
  .account_potential p {
    font-size: 18px;
    line-height: 27px;
  }
  .accordian__tabs_mobile {
    display: none;
  }
  .account_potential h2 span {
    color: #eda288;
    font-weight: 700;
  }
  .medium_form {
    top: 9%;
    right: 0%;
    width: 44%;
  }
  .small_form {
    left: -6%;
    top: 28%;
    width: 55%;
  }
  
  .hobbies_from {
    bottom: 9%;
    right: 0;
    width: 38%;
    height: 50%;
    top: 38%;
  }
  
  .gender_form {
    right: 3%;
    top: 6%;
    width: 34%;
  }
  
  .date_of_birth_form {
    left: 0;
    top: 53%;
    width: 54%;
  }
  
  .main_item .nav-item {
    width: 100%;
  }
  
  @media screen and (max-width: 991px) {
    .account_potential h2 {
      width: 100%;
      font-size: 26px;
    }
    .account_potential p {
      font-size: 16px;
    }
    .account_potential {
      width: 80%;
    }
    .section_2_color_picker {
      right: 0;
    }
    .small_form {
      left: 0%;
    }
    .accordian__tabs_mobile {
      display: block;
    }
    .accordian_coming {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .tabs_reuse_section {
      background-image: url("../assets/images/TabReuse_section_background_MObile_view.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .account_potential {
      margin-top: 3rem !important;
    }
  }
  
  @media screen and (max-width: 576px) {
    .account_potential p {
      font-size: 10px;
      line-height: 16px;
      margin: 15px 0px;
    }
    .account_potential {
      width: 90%;
    }
    .account_potential h2 {
      width: 100%;
      font-size: 17px;
      line-height: 27px;
      margin-bottom: 15px;
    }
    .account_potential {
      margin-top: 1rem !important;
    }
  }
  .item_discription p {
    font-weight: 100;
    margin: 0;
  }
  
  .first_tab {
    padding: 8px;
  }
  @media screen and (max-width: 768px) {
    .new_tab_section_for_mobie_block {
      display: block;
    }
    .accordian_section_withreuse {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    .new_tab_section_for_mobie_block {
      display: none !important;
    }
    .accordian_section_withreuse {
      display: block;
    }
  }
  
  @media screen and (min-width:1200px) {
    .small_border_class_left .all{
      position: relative;
   }
  }
  
  @media only screen and (max-width: 1120px) and (min-width: 925px) {
    .nav__links__ {
      min-height: 160px;
    }
  
    .first_tab_contetnt {
      left: 20px;
    }
  
    .tab-icon {
      width: 75px;
      height: 75px;
      padding: 16px;
    }
  
    .tab-icon img {
      width: 35px;
      height: 35px;
    }
  
    .tab-icon-content {
      padding-left: 10px;
    }
  
    .tab-icon-content h4 {
      font-size: 18px;
    }
  
    .tab-icon-content p {
      font-size: 12px;
    }
  
    .right-direction {
      right: -28px;
    }
  
  
  }
  
  /* media querys */
  
  @media screen and (max-width:925px) {
    .blue_rounded_img {
      top: 5px;
  
    }
  
    .second-id-img {
      left: -6px !important;
    }
  
    .right-direction {
      right: -22px;
    }
  
    .first_tab_contetnt {
      left: 20px;
    }
  
    .first_1 {
      min-height: 120px;
      margin: 5px 0px;
    }
  
    .nav__links__ {
      min-height: 120px;
    }
  
    .tab-icon {
      width: 70px;
      height: 70px;
      padding: 16px;
    }
  
  
  
    .tab-icon-content h4 {
      font-size: 14px;
    }
  
    
  }
  
  @media screen and (max-width:676px) {
    .blue_rounded_img {
      top: 5px;
      left: 6px;
    }
  
    .first_tab_contetnt {
      top: 13px;
      left: 17px;
    }
  
    .plugin {
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
    }
  
    .my-all-tabs {
      padding: 35px 0px;
    }
  }
  
  @media screen and (max-width:768px) {
    .plugin p {
      font-size: 12px;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
      color: #FFFFFF;
    }
  
    .plugin h2 {
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: #FFFFFF;
      padding-top: 2rem;
    }
  
  }
  
  @media screen and (max-width:766px) {
    .nav__links__ {
      min-height: 130px;
    }
  
    .blue_rounded_img {
      top: 5px;
    }
  
    .color-picker {
      right: 0%;
    }
  
    .first_tab_contetnt {
      top: 22px;
      left: 21px;
  
    }
  
    .tab-icon {
      width: 80px;
      height: 80px;
      padding: 22px;
    }
  
    .tab-icon img {
      width: 35px;
      height: 35px;
    }
  
    .tab-icon-content h4 {
      font-size: 18px;
    }
  
    .tab-icon-content p {
      font-size: 12px;
      margin: 0;
    }
  
    .second-id-img {
      left: -10px;
    }
  
    .last {
      padding-right: 10px;
    }
  
    .right-direction {
      right: unset;
    }
  
  }
  
  @media screen and (max-width:449px) and (min-width:370px) {
    .first_tab_contetnt {
      top: 14px;
      left: 17px;
    }
  
    .tab-icon img {
      width: 30px;
      height: 30px;
    }
  
    .tab-icon {
      width: 62px;
      height: 62px;
      padding: 17px;
    }
  
    .tab-icon-content h4 {
      font-size: 14px;
    }
  
    .tab-icon-content p {
      font-size: 9px;
      margin: 0;
    }
  
    .right-direction {
      right: -20px;
    }
  
    .first_1 {
      min-height: 100px;
      margin: 5px 0px;
    }
  
    .nav__links__ {
      min-height: 100px;
    }
  }
  
  @media screen and (min-width:768px) {
  
    .success_1 {
      display: none;
    }
  
    .my-all-tabs {
      display: block;
    }
  }
  
  @media screen and (max-width:768px) {
  
    .success_1 {
      display: block;
    }
  
    .my-all-tabs {
      display: none;
    }
  }