.banner_background{
    background: url(../Images/banner-background.png), lightgray 50% / cover no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.banner_background{
    padding: 70px 0px;
}


.main_heading h1{
    font-size: 29px;
    font-weight: 600;
    color: white;
    line-height: 42px;
}
.main_heading p{
    color: white;
    font-size: 18px;
}
.btn_details{
    text-align: left !important;
}

.s_btn{
    background-color: white;
    align-items: center;
    color: #007CB6;
}
.btns{
    width: 100%;
    border-radius: 3px;
    border: 1px solid white;
}
.btns:hover {
    background-color: white;
    color: #007CB6;
    border: 1px solid white;
}
.f_btn{
    background-color: transparent;
}
.s_btn img{
    height: 30px;
    width: 30px;
}
.banner-span{
    display: block;
}
.span_1{
    font-size: 14px;
}
.span_2{
    font-size: 18px;
}
.span_3{
    font-size: 22px;
}
.span_4{
    font-size: 11px;
}

video{
    border-radius: 5px;
}

.forever  button:hover{
    background-color: white;
    color: #007CB6;
}

@media screen and (max-width:991px) {
    .main_heading h1 {
        font-size: 30px;
        line-height: 46px;
        text-align: center;
    }
    .main_heading p {
        font-size: 20px;
        text-align: center;
    }
    .span_1 {
        font-size: 25px;
    }
    .span_2 {
        font-size: 30px;
    }
    .span_3{
        font-size: 36px;
    }
    .span_4{
        font-size: 18px;
    }
    .s_btn img {
        height: 42px;
        width: 42px;
    }
}


@media screen and (min-width:991px) and (max-width:1200px){
    .main_heading h1{
        font-size: 24px;
    }
    .span_1 {
        font-size: 14px;
    }
    .span_2 {
        font-size: 14px;
    }
    .span_3 {
        font-size: 19px;
    }
    .span_4 {
        font-size: 10px;
    }
}

@media screen and (min-width:576px) and (max-width:768px){
    .span_1 {
        font-size: 20px;
    }
    .span_2 {
        font-size: 21px;
    }
    .span_3 {
        font-size: 30px;
    }
    .span_4 {
        font-size: 12px;
    }
}


@media screen and (max-width:576px){
    .main_heading p {
        font-size: 14px;
    }   
    .col-x-sm-6{
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .my-x-sm{
        margin:20px 0px;
    }
    .span_4 {
        font-size: 10px;
    }
    .span_3 {
        font-size: 20px;
    }
    .span_2 {
        font-size: 16px;
    }
    .span_1 {
        font-size: 14px;
    }
    .s_btn img {
        height: 22px;
        width: 22px;
    }
    .banner_background{
        padding: 2px 0px;
        padding-bottom: 30px;
    }
    .banner_left_section{
        padding: 0px 30px !important;
    }
    
}

@media screen and (max-width:476px){
    .span_1 {
        font-size: 12px;
    }
    .span_2 {
        font-size: 12px;
    }
    .span_3 {
        font-size: 16px;
    }
    .span_4 {
        font-size: 8px;
    }
}
