.change-log-section {
    padding-bottom: 4rem;

}

.changelog-main-heading {
    background-color: #effcfa;
    padding: 3rem 0;

}

.changelog-main-heading h1 {
    font-size: 40px;
    color: #000654;
    font-weight: 700;
}
.changlog-mncntnt{
    width: 70%;
}
.changelog-main-heading p {
    font-size: 18px;
    font-weight: 700;
    color: #000654;
}

.main-change-log-container {
    margin-top: 2.6rem;
}

.change-log-date {
    color: #000654;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.main-change-log-container h5 {
    font-weight: 700;
    color: #000654;
}

.changelog-description {
    font-size: 15px;
    margin: 0;
}
.changelog-list-content{
    text-decoration: none;
    list-style: none;
    padding: 0;
    border-left: 1px solid #000654;
    border-right:1px solid #000654 ;
}


.chnagelog-tag {
    padding: 2px 15px;
    font-size: 14px;
    font-weight: 600;
    color: #000654;
    border-radius: 20px;
}

.logchagne {
    display: flex;
    border-bottom: 1px solid #000654;
    border-top: 1px solid #000654;
    padding: 15px;
    margin: 10px 0;
}

.changelog-tag-container {
    margin: 0;
    width: 10%;
    margin-right: 10px;
}
 li span:last-child{
    margin: 0;
}
.fixed_tag{
    background-color: red;
}
.feature_tag{
    background-color: #66b3b3;
    color: #000654;
}   
.new_tag{
    background-color: green;
    color: white;
}
.improve_tag{
    background-color: #6767f9;
    color: white;
}



@media screen and (max-width:991px) {
    .main-change-log-container{
        padding: 0;
    }
    .changlog-mncntnt{
        width: 100%;
    }
    .changelog-tag-container {
        width: 18%;
    }
}

@media screen and (max-width:768px) {
    .changelog-tag-container {
        width: 25%;
    }
}

@media screen and (max-width:576px) {
    .changelog-main-heading h1 {
        font-size: 28px;
    }
   
    .main-change-log-container h5{
        font-size: 16px;
    }
    .changelog-description {
        font-size: 14px;
    }
    .logchagne{
        padding: 10px;
    }
    .change-log-section {
        padding-bottom: 1rem;    
    }
    .changelog-tag-container {
        width: 30%;
    }
    .chnagelog-tag {
        padding: 2px 12px;
        font-size: 12px;
    }
}