.customer-account-page-manu-content {
    padding: 4rem 0rem;
}

.acnt-pg-sctn-3-container {
    padding: 4rem 1.5rem;
}
.acnt-pg-sctn-3-container img{
    max-width: 100%;
}
.acnt-pg-sctn-3-container p{
    font-size: 15px;
}
.acntpagmnu-hero-heading {
    font-size: 48px;
    color: #000654;
    font-weight: 700;
}

.acntpage-col-fst-cntnt h3 {
    font-size: 32px;
    font-weight: 500;
    color: #000654;
}

.acntpage-col-scnd-cntnt {
    display: flex;
    justify-content: center;
}


.shopify-logos-for-customer img {
    max-width: 100%;
}

.shpfy-trial-demo-btn {
    padding: 20px 10px;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid #ee6f43 !important;
    width: 46%;
    margin-right: 10px;

}

.acntpagetrlbtn {
    background-color: #ee6f43 !important;
}

.acntpagedmobtn {
    color: #ee6f43;
    background-color: transparent;
}

.shpfy-trial-demo-btn:hover {
    background-color: #ee6f43 !important;
    color: #fff !important;
}

.acntpage-ofical-witlgo-btn a {
    background-color: transparent;
    border: none;
    padding: 0;
}

.acntpage-ofical-witlgo-btn:hover a {
    background-color: transparent;
}

/* .shopify-logos-for-customer-with-rating{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
} */
.shopify-logos-for-customer-with-rating a {
    width: 48%;
    margin-right: 12px;
}

.shpdashboard-pro-rating-system img {
    width: 40%;
    display: block;
    margin-right: 10px;
}

.shpdashboard-pro-rating-system {
    flex-wrap: wrap;
}

.shpdashboard-pro-rating-system span {
    font-size: 18px;
    font-weight: 700;
}

.shopify-logos-for-customer-with-rating,
.shpdashboard-pro-rating-system {
    display: flex;
    align-items: center;
}

.acnt-pg-inner-feature-col-second img {
    max-width: 100%;
}

.account-page-section-3 {
    background-image: linear-gradient( 111.5deg,  rgba(228,247,255,1) 21.9%, rgba(255,216,194,1) 92.2% );
}

.acnt-pg-inner-feature-container h2 {
    color:#000654;
    font-weight: 700;
}


@media screen and (max-width:991px) {
    .shpfy-trial-demo-btn {
        font-size: 16px;
    }

    .acntpagmnu-hero-heading {
        font-size: 39px;
    }
}

@media screen and (max-width:768px) {
    .mob-order{
        order: 2;
    }
    .acnt-pg-sctn-3-container{
        padding: 1rem 1.5rem;
    }
}

@media screen and (max-width:576px) {
    .shpfy-trial-demo-btn {
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .shopify-logos-for-customer-with-rating a {
        width: 100%;
    }

    .shpdashboard-pro-rating-system img {
        width: 65%;
        margin-bottom: 5px;
    }

    .acntpagmnu-hero-heading {
        font-size: 32px;
    }

    .acntpage-col-fst-cntnt h3 {
        font-size: 21px;
    }

    .customer-account-page-manu-content {
        padding: 2.5rem 0rem;
    }
}