
.Dashboard_potential_background{
    background: url('../Images/section_2_Linear-gradient.png');
}
.Dashboard_potential{
    padding-top: 150px;
    padding-bottom: 70px;
}
.Dashboard_potential_heading_description{
    text-align: center;
    width: 62%;
    color: #FFFFFF;
    margin: auto;
    padding: 40px 0px;
}
.Dashboard_potential_heading_description h2{
    font-weight: 700;
    line-height: 42px;
    font-size: 28px;
    padding: 0  7rem;
}
.Dashboard_potential_heading_description span{
    color: #EDA288;
}
.Dashboard_potential_heading_description{
    font-size: 18px;
}
.large_form img{
    background-color: #00204E;
    border-radius: 10px;
    margin: auto;
    display: block;
}

.image_first{
    position: relative;
}
.small_form{
    position: absolute;
    left: -10px;
    top: 30%;
}
.mrdium_form{
    position: absolute;
    top: 8%;
    right: 0;
}

.tab_first{
    position: relative;
    width: 80%;
    margin: 20px auto;
}

.dotted_img_parent{
    position: relative;
    top: 0;
}
.dotted_img_parent img{
    width: 100%;
}
.blue_back{
    position: absolute;
    top: 8px;
    left: 10px;
    width: 100%;
}
.blue_back img{
    width: 100%;
}
.strem_line_profile{
    position: absolute;
    top: 25px;
    display: flex;
    left: 25px;
    align-items: center;
}
.edit_icon_parent{
    border: 2px solid white;
    padding: 20px;
    border-radius: 50%;
}
.stream_discription{
    padding-right: 55px;
    padding-left: 20px;
}
.stream_discription .span_1{
    display: block;
    font-size: 25px;
    color: #EDA288;
}
.stream_discription .span_2{
    display: block;
    color: aliceblue;
    font-size: 15px;
}



