.hasel__free_image img{
    max-width: 100%;
}
.multi__address_capability img{
    max-width: 100%;
}
.reva__panal__image img{
    max-width: 100%;
}
.show__recently__image img{
    max-width: 100%;
}
.multiLanguage__support img{
    max-width: 100%;
}
.dynamic__menu_builder img{
    max-width: 100%;
}